:root{
    --bg: #100f17;
    --text: #f5f5f5;
    --secondary-text: #C7C7C7;
    --primary: #5B2C83;
    --secondary-primary: #7C3AED;
    --decoration: #CFAE70;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text);
    border: none;
    outline: none;
}
body {
    object-fit: cover;
    background-color: var(--bg);
    font-family: "Lato", sans-serif;
}
/* navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 5%;
}
.navbar h1 {
    color: var(--secondary-primary);
    text-shadow: 1px 3px 2px var(--primary);
    font-size: 2.8rem;
    font-weight: 100;
    font-family: "Pacifico", cursive;
    font-style: italic;
}
.navbar .navbar-nav a {
    display: inline-block;
    margin: 0 0.8rem;
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
}
/* Hero section */
.hero {
    height: 100vh;
    background: url(img/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero .content {
    margin-left: 3rem;
    max-width: 30rem;
    text-shadow: 1px 1px 3px black;
}
.hero .content h1 {
    font-size: 3.4rem;
    font-family: "playfair display", serif;
    line-height: 3.5rem;
    text-shadow: 0 0 15px 10px var(--bg);
}
.hero .content h1 span {
    color: var(--secondary-primary);
        text-shadow: 0 0 15px 10px var(--bg);
    font-style: italic;
}
.hero .content p {
    font-weight: 300;
    margin: 1rem 0 2rem;
}
.hero .content .cta {
    background-color: var(--primary);
    border: var(--secondary-primary) 2px solid;
    padding: 1rem 15%;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}
.Menu img {
    width: 300px;
    border-radius: 20px;   
}
.Menu {
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}
img {
    margin: 30px;
}